@using statesAndCapitals.Helpers;

@{
    if (!Session.IsLogged())
    {
        <script>
            window.location.href = "@Url.Action("Login", "Account")"
        </script>
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/statesAndCapitals.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

<script>
    if  (performance.navigation.type == 2){
        location.reload();
    }
</script>